body > div > main > section.row.td-box.td-box--1.position-relative.td-box--gradient.td-box--dark.td-box--height-auto > div {
    margin-left: 80px;
    text-align: left!important;
    max-width: 400px;
}

.td-page-meta--child { display: none !important; }
.td-page-meta--edit { display: none !important; }
