body > div > main > section.row.td-box.td-box--1.position-relative.td-box--gradient.td-box--dark.td-box--height-auto > div {
    margin-left: 80px;
    text-align: left!important;
    max-width: 400px;
}

body > div > main > section.row.td-box.td-box--dark.td-box--gradient.td-box--height-auto
 {
    padding-top: 8rem;
    background-image: url(/images/header.jpg);
    background-color: #676767;
    background-repeat: no-repeat;
    background-size: cover;

}

body > header > nav > a > span.navbar-brand__name {
    display: none;
}

body > header > nav > a > span.navbar-brand__logo.navbar-logo > svg {
    height: 50px;
}

.mermaid {
    width: 150%;
}

